h1{
    text-shadow: rgb(6, 160, 243) 1px 0 10px;
	color: rgb(174, 20, 151);
    background-color: rgb(142, 215, 136);
    border: dashed rgb(126, 76, 143);
}
h2{
    border: solid #7fff00; 
    width: 400px; 
    background-color: rgb(218, 244, 224);
}

ul{
    background-color: rgb(165, 216, 248);
    width: 300px;
}
h3{
    background: linear-gradient(0.5turn, white, #c9faef);
    color: rgb(75, 58, 8);

}
div#aaaaaaa > div {
	padding: 5px;
	background-color: #c9faef;
}
aaa{
    display: grid;                      /* グリッドレイアウトにする*/
    grid-template-columns: 1fr 2fr 2fr; /* 3列にする．幅は 1:2:2 の比率*/
    grid-auto-rows: 100px 100px;        /* 高さは 100px */
    grid-gap: 10px;                     /* 隣り合う行（列）の間隔を 10px に*/

    width: 500px;
    background: cyan;
}
Pl{
	background-color: #f7c9fa;
}


body {
    background-color: #b4e8d2;
}